<!DOCTYPE html>
<head>
    <!-- Liscensed CC BY 3.0 -->
    <title>Dashboard</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--=========== Will clean up code later ==========================================================-->
    <link rel="icon" type="image/png" href="../../images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link
        rel="stylesheet"
        type="text/css"
        href="../../vendor/bootstrap/css/bootstrap.min.css"
    />
    <!--===============================================================================================-->
    <link
        rel="stylesheet"
        type="text/css"
        href="../../fonts/font-awesome-4.7.0/css/font-awesome.min.css"
    />
    <!--===============================================================================================-->
    <link
        rel="stylesheet"
        type="text/css"
        href="../../fonts/iconic/css/material-design-iconic-font.min.css"
    />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../util.css" />
    <link rel="stylesheet" type="text/css" href="../../app.component.css" />
    <link rel="stylesheet" type="text/css" href="employeelist.component.css" />
    <!--===============================================================================================-->
</head>
<div class="dashboard-wrapper">
    <div class="influence-profile">
        <div class="container-fluid dashboard-content">
            <!-- pageheader -->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-header">
                        <h1 class="mb-2">Company Dashboard</h1>
                    </div>
                </div>
            </div>

            <!--card profile-->
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-5 col-sm-12 col-12">
                    <div class="card">
                        <div class="text-center">
                            <h2 class="font-24 mb-0" style="padding: 10px">
                               
                            </h2>
                        </div>
                        <div class="card-body border-top">
                            <h3 class="font-16">
                                <strong>Contact Information</strong>
                            </h3>
                            <div class="">
                                <ul class="list-unstyled mb-0">
                                    <li class="mb-2">
                                        <strong>Name: </strong>{{ user.Firstname }} {{ user.Lastname }}
                                    </li>
                                    <li class="mb-2">
                                        <strong>Email: </strong>{{ user.Email }}
                                    </li>
                                    <li class="mb-2">
                                        <strong>Phone Number: </strong
                                        >{{ user.PhoneNumber }}
                                    </li>
                                    
                                    
                                </ul>
                            </div>
                        </div>
                        <div class="card-body border-top">
                            <h3 class="font-16">
                                <strong>Company Information</strong>
                            </h3>
                            <ul class="list-unstyled mb-0">
                                <li class="mb-2">
                                    <strong>Company Name: </strong
                                    >{{ user.CompanyName }}
                                </li>
                                
                                
                                
                            </ul>
                        </div>
                        
                    </div>
                </div>
                <!--Finish profile card
      Overview tab delete if too much work, just thought it'd look nice-->
                <div class="col-xl-9 col-lg-9 col-md-7 col-sm-12 col-12">
                    <div class="row">
                        <div
                            class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
                        >
                            <div class="section-block">
                                <h2 class="section-title">Employee List for: {{ user.CompanyName }}</h2>
                                    <div class="row">
                                    

                                    

                                    
                                </div>
                            </div>
                        </div>
                        <!--closes overview-->
                        <!--Trips overview + add trips-->
                        <div
                            class="col-xl-9 col-lg-9 col-md-7 col-sm-12 col-12"
                        >
                            <div class="row">
                                <div
                                    class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
                                >
                                    <div class="section-block">
                                                                                
                                        <!--recent trips cards
                  just put most recent 3~5 trips?-->
                                        <div
                                            *ngIf="
                                                employees.length > 0;
                                                else noEmployees
                                            "
                                        >
                                            <div
                                                class="card"
                                                *ngFor="let employee of employees"
                                            >
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div
                                                            class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
                                                        >
                                                            <div
                                                                class="media influencer-profile-data d-flex align-items-center p-2"
                                                            >
                                                                <div
                                                                    class="media-body"
                                                                >
                                                                    <div
                                                                        class="influencer-profile-data"
                                                                    >
                                                                        <p>
                                                                            <span
                                                                                class="m-r-20 d-inline-block"
                                                                                >Employee Name
                                                                                <span
                                                                                    class="m-l-10 text-primary"
                                                                                    >{{ employee.Firstname }} {{ employee.Lastname }}</span
                                                                                >
                                                                            </span>
                                                                            <span
                                                                                class="m-r-20 d-inline-block"
                                                                                >Email
                                                                                <span
                                                                                    class="m-l-10 text-primary"
                                                                                    >{{ employee.Email }}</span
                                                                                >
                                                                            </span>
                                                                            <span
                                                                                class="m-r-20 d-inline-block"
                                                                            >Role
                                                                                <span
                                                                                    class="m-l-10 text-primary"
                                                                                    >{{ employee.Role }}</span
                                                                                >
                                                                            </span>
                                                                            <span
                                                                                class="m-r-20 d-inline-block"
                                                                                >Points Earned
                                                                                <span
                                                                                    class="m-l-10 text-info"
                                                                                    >{{ employee.TotalPoints }}</span
                                                                                >
                                                                            </span>
                                                                            
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--closes style-->
                </div>

                <!---
    <div class="dashboard-container" *ngIf="user">
        <mat-card>
          <mat-card-title>User Info</mat-card-title>
          <mat-card-content>
            <p><strong>Name:</strong> {{ user.Firstname }} {{ user.Lastname }}</p>
            <p><strong>Email:</strong> {{ user.Email }}</p>
            <p><strong>Home Address:</strong> {{ user['Home Address'] }}</p>
            <p><strong>Distance to Work:</strong> {{ user.DistanceToWork }}</p>
          </mat-card-content>

          <button mat-raised-button color="primary" routerLink="/add-trip">
            Add Trip
          </button>
        </mat-card>

        <mat-card *ngIf="company">
          <mat-card-title>Company Info</mat-card-title>
          <mat-card-content>
            <p><strong>Name:</strong> {{ company.CompanyName }}</p>
            <p><strong>Address:</strong> {{ company.CompanyAddress }}</p>
            <p><strong>Email:</strong> {{ company.CompanyEmail }}</p>
          </mat-card-content>
        </mat-card>

        <mat-card *ngIf="vehicle">
          <mat-card-title>Vehicle Info</mat-card-title>
          <mat-card-content>
            <p><strong>Make:</strong> {{ vehicle.Make }}</p>
            <p><strong>Model:</strong> {{ vehicle.Model }}</p>
            <p><strong>Type:</strong> {{ vehicle['Vehicle Type'] }}</p>
          </mat-card-content>
        </mat-card> -->
            </div>
            <ng-template #noEmployees>
                <p>No Employees Created Yet!</p>
            </ng-template>
        </div>
    </div>
</div>
