<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Liscensed CC BY 3.0 -->
        <title>Carbon Tracking System</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!--=========== Will clean up code later ==========================================================-->
        <link
            rel="icon"
            type="image/png"
            href="../../images/icons/favicon.ico"
        />
        <!--===============================================================================================-->
        <link
            rel="stylesheet"
            type="text/css"
            href="../../vendor/bootstrap/css/bootstrap.min.css"
        />
        <!--===============================================================================================-->
        <link
            rel="stylesheet"
            type="text/css"
            href="../../fonts/font-awesome-4.7.0/css/font-awesome.min.css"
        />
        <!--===============================================================================================-->
        <link
            rel="stylesheet"
            type="text/css"
            href="../../fonts/iconic/css/material-design-iconic-font.min.css"
        />
        <!--===============================================================================================-->
        <link
            rel="stylesheet"
            type="text/css"
            href="../../vendor/animate/animate.css"
        />
        <!--===============================================================================================-->
        <link
            rel="stylesheet"
            type="text/css"
            href="../../vendor/css-hamburgers/hamburgers.min.css"
        />
        <!--===============================================================================================-->
        <link
            rel="stylesheet"
            type="text/css"
            href="../../vendor/animsition/css/animsition.min.css"
        />
        <!--===============================================================================================-->
        <link
            rel="stylesheet"
            type="text/css"
            href="../../vendor/select2/select2.min.css"
        />
        <!--===============================================================================================-->
        <link
            rel="stylesheet"
            type="text/css"
            href="../../vendor/daterangepicker/daterangepicker.css"
        />
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="../../util.css" />
        <link rel="stylesheet" type="text/css" href="../../app.component.css" />
        <!--===============================================================================================-->
    </head>
    <body>
        <div class="limiter">
            <div
                class="container-login100"
                style="background-color: blue;"
            >
                <div class="wrap-login100">
                    <form class="login100-form validate-form" #userForm = "ngForm" (ngSubmit)="loginFunc(userForm.value)">
                        <span class="login100-form-title p-b-34 p-t-14">
                            Log in
                        </span>

                            <div
                                class="wrap-input100 validate-input"
                                data-validate="Enter username"
                            >
                                <input
                                    class="input100"
                                    type="text"
                                    name="username"
                                    placeholder="Username"
                                    ngModel
                                >
                                <span
                                    class="focus-input100"
                                    data-placeholder="&#xf207;"
                                ></span>
                            </div>

                            <div
                                class="wrap-input100 validate-input"
                                data-validate="Enter password"
                            >
                                <input
                                    class="input100"
                                    type="password"
                                    name="password"
                                    placeholder="Password"
                                    ngModel
                                >
                                <span
                                    class="focus-input100"
                                    data-placeholder="&#xf191;"
                                ></span>
                            </div>

                        <div class="container-login100-form-btn">
                            <button class="login100-form-btn">Login</button>
                        </div>
                    </form>
                        <br />
                        <div class="container-login100-form-btn">
                            <!-- Example: login.component.html -->
                            <button class="login100-form-btn" [routerLink]="['/signup']">Signup</button>

                        </div>

                        <div class="text-center p-t-30">
                            <a class="txt1" href="#"> Forgot Password? </a>
                        </div>
                    
                </div>

           <!-- checking if it works
                <h3>{{loginData?.password}}</h3>
                <h3>{{loginData?.password}}</h3> -->
            </div> 
            
        </div>

        

       <!--testing image <img src="../../images/city.jpg" alt="city"> -->

       <!-- <div id="dropDownSelect1"></div> -->

        <!--===============================================================================================-->
        <script src="../../vendor/jquery/jquery-3.2.1.min.js"></script>
        <!--===============================================================================================-->
        <script src="../../vendor/animsition/js/animsition.min.js"></script>
        <!--===============================================================================================-->
        <script src="../../vendor/bootstrap/js/popper.js"></script>
        <script src="../../vendor/bootstrap/js/bootstrap.min.js"></script>
        <!--===============================================================================================-->
        <script src="../../vendor/select2/select2.min.js"></script>
        <!--===============================================================================================-->
        <script src="../../vendor/daterangepicker/moment.min.js"></script>
        <script src="../../vendor/daterangepicker/daterangepicker.js"></script>
        <!--===============================================================================================-->
        <script src="../../vendor/countdowntime/countdowntime.js"></script>
        <!--===============================================================================================-->
        <script src="../../main.js"></script>
    </body>
</html>
