<mat-card>
    <h2>Add a New Trip</h2>
    <form [formGroup]="tripForm" (ngSubmit)="submitTrip()">
        <mat-form-field>
          <mat-label>Employee ID</mat-label>
          <input matInput formControlName="_employeeID">
        </mat-form-field>
      
        <mat-form-field>
          <mat-label>Company ID</mat-label>
          <input matInput formControlName="_companyID">
        </mat-form-field>
      
        <mat-form-field>
          <mat-label>Distance</mat-label>
          <input matInput formControlName="distance">
        </mat-form-field>
      
        <mat-form-field>
          <mat-label>Method</mat-label>
          <input matInput formControlName="method">
        </mat-form-field>
      
        <mat-form-field>
          <mat-label>Points</mat-label>
          <input matInput formControlName="points">
        </mat-form-field>
      
        <button mat-raised-button color="primary" type="submit">Submit Trip</button>
      </form>
  </mat-card>
