<div class="dashboard-container" *ngIf="user">
    <mat-card>
      <mat-card-title>User Info</mat-card-title>
      <mat-card-content>
        <p><strong>Name:</strong> {{ user.Firstname }} {{ user.Lastname }}</p>
        <p><strong>Email:</strong> {{ user.Email }}</p>
        <p><strong>Home Address:</strong> {{ user['Home Address'] }}</p>
        <p><strong>Distance to Work:</strong> {{ user.DistanceToWork }}</p>
      </mat-card-content>
      <button mat-raised-button color="primary" routerLink="/add-trip">
        Add Trip
      </button>
    </mat-card>
  
    <mat-card *ngIf="company">
      <mat-card-title>Company Info</mat-card-title>
      <mat-card-content>
        <p><strong>Name:</strong> {{ company.CompanyName }}</p>
        <p><strong>Address:</strong> {{ company.CompanyAddress }}</p>
        <p><strong>Email:</strong> {{ company.CompanyEmail }}</p>
      </mat-card-content>
    </mat-card>
  
    <mat-card *ngIf="vehicle">
      <mat-card-title>Vehicle Info</mat-card-title>
      <mat-card-content>
        <p><strong>Make:</strong> {{ vehicle.Make }}</p>
        <p><strong>Model:</strong> {{ vehicle.Model }}</p>
        <p><strong>Type:</strong> {{ vehicle['Vehicle Type'] }}</p>
      </mat-card-content>
    </mat-card>
  </div>
  