<!DOCTYPE html>
<html lang="en">
	<head>
	<!-- Liscensed CC BY 3.0 -->
		<title>Carbon Tracking System</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--=========== Will clean up code later ==========================================================-->	
		<link rel="icon" type="image/png" href="../../images/icons/favicon.ico"/>
	<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="../../vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="../../fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="../../fonts/iconic/css/material-design-iconic-font.min.css">
	<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="../../vendor/animate/animate.css">
	<!--===============================================================================================-->	
		<link rel="stylesheet" type="text/css" href="../../vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="../../vendor/animsition/css/animsition.min.css">
	<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="../../vendor/select2/select2.min.css">
	<!--===============================================================================================-->	
		<link rel="stylesheet" type="text/css" href="../../vendor/daterangepicker/daterangepicker.css">
	<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="../../util.css">
		<link rel="stylesheet" type="text/css" href="../../app.component.css">
	<!--===============================================================================================-->
	</head>
	
	<body style="background-color:rgb(255, 255, 255);">
	<!-- nav bar-->
		<div class="topnav">
			<a class="active" href="#home">Home</a>
			<a href="#trade">Trade</a>
			<a href="#trips">Trips</a>
			<a href="#settings">Settings</a>
			<div class="login-button">
				<form action="../login/login.component.html">
					<button type="submit">Login/Signup</button>
				</form>
			</div>
		</div>
		
		<div class="slideshow-container">
			<div class="mySlides fade">
			  <img src="../../images/city1.jpg" style="width:100%">
			</div>

			<div class="mySlides fade">
			  <img src="../../images/traffic.jpg" style="width:100%">
			</div>

			<div class="mySlides fade">
			  <img src="../../images/public.jpg" style="width:100%">
			</div>
		</div>
		<br>

		<div style="text-align:center">
		  <span class="dot"></span> 
		  <span class="dot"></span> 
		  <span class="dot"></span> 
		</div>
		
		<!--===============================================================================================-->
		<script src="../../vendor/jquery/jquery-3.2.1.min.js"></script>
		<!--===============================================================================================-->
		<script src="../../vendor/animsition/js/animsition.min.js"></script>
		<!--===============================================================================================-->
		<script src="../../vendor/bootstrap/js/popper.js"></script>
		<script src="../../vendor/bootstrap/js/bootstrap.min.js"></script>
		<!--===============================================================================================-->
		<script src="../../vendor/select2/select2.min.js"></script>
		<!--===============================================================================================-->
		<script src="../../vendor/daterangepicker/moment.min.js"></script>
		<script src="../../vendor/daterangepicker/daterangepicker.js"></script>
		<!--===============================================================================================-->
		<script src="../../vendor/countdowntime/countdowntime.js"></script>
		<!--===============================================================================================-->
		<script src="../../main.js"></script>
		
	</body>
</html>
